article.e-code h2::first-letter {
  color: var(--color-code-e);
}

article.e-code div::after {
  background: var(--color-code-u);
  background: linear-gradient(90deg, var(--color-code-e) 0%, #fd5c5600 100%);
  height: 2px;
  width: 100%;
}

article.e-code button.more-code {
  border-top: 1px dotted var(--color-code-e);
}

article.e-code button.more-code:hover {
  cursor: default;
}
