.modal {
  z-index: 100;
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  background: var(--color-primary-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  overflow: hidden;
}

.modal__header {
  width: 100%;
  padding: 0 0.5rem;
  background: var(--color-primary-blue);
  box-shadow: none;
  margin-bottom: 0rem;
}

.modal__header.p-code {
  background: var(--color-code-p);
  background: linear-gradient(90deg, var(--color-code-p) 0%, #9381ff00 100%);
}

.modal__header.u-code {
  background: var(--color-code-u);
  background: linear-gradient(90deg, var(--color-code-u) 0%, #9381ff00 100%);
}

.modal__header.b-code {
  background: var(--color-code-b);
  background: linear-gradient(90deg, var(--color-code-b) 0%, #9381ff00 100%);
}

.modal__header.c-code {
  background: var(--color-code-c);
  background: linear-gradient(90deg, var(--color-code-c) 0%, #9381ff00 100%);
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__header h2 span {
  font-size: 1rem;
  color: var(--color-main-bg);
}

.modal__content {
  padding: 1rem 0.75rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
  margin: 0;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
