main h1 {
  text-align: center;
  margin-bottom: 1.75rem;
  color: var(--color-primary-white);
}

main p.search {
  text-align: center;
  line-height: 1rem;
  color: var(--color-primary-white);
  margin-top: -1.75rem;
  margin-bottom: 0.75rem;
  font-style: italic;
  color: grey;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  main h1 {
    font-size: 1.25rem;
  }
}
