.footer {
  text-align: center;
  margin: 2rem 0;
  color: var(--color-primary-white);
  font-size: 0.75rem;
  user-select: none;
}

.footer a {
  all: unset;
}

.footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
