.container {
  color: var(--color-primary-white);
}

.container div h1 {
  background: none;
  position: relative;
}

.container div h1::after {
  content: '';
  position: absolute;
  inset: 0;
  top: auto;
  height: 3px;
  background: var(--color-primary-blue);
  background: linear-gradient(
    90deg,
    var(--color-code, var(--color-primary-blue)) 0%,
    #9381ff00 100%
  );
}

.container div h1 span {
  color: white;
}
