.header {
  width: 100%;
  padding: 0.75rem 2rem;
  margin: -1rem;
  background: var(--color-primary-blue);
  background: linear-gradient(90deg, var(--color-code, var(--color-primary-blue)) 0%, #9381ff00 100%);
}

.header span {
  font-size: 1rem;
  color: rgb(53, 53, 53);
}

.list {
  list-style: none;
  margin-inline: 2rem;
  padding: 0;
  padding-top: 0.5rem;
}

.list li {
  display: grid;
  margin-block: 1rem;
}

.list li span:first-child {
  font-weight: bold;
  border-bottom: 1px dotted gray;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-block: 0.25rem;
}

.list li span:last-child {
  font-size: 0.9rem;
  padding-top: 0.25rem;
}

@media (max-width: 768px) {
  .list {
    margin-inline: 0.5rem;
  }
}
