.loader {
  display: flex;
  gap: 0.5rem;
}

.spin {
  width: 1rem;
  aspect-ratio: 1;
  color: var(--color-primary-blue);
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.ai {
  display: grid;
  gap: 1rem;
}

.explanation {
  display: flex;
  gap: 0.5rem;
  color: gray;
  font-size: 0.75rem !important;
}

.explanation svg {
  width: 3rem;
  aspect-ratio: 1;
  color: gray;
}
